body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
  }

  #signupImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border-radius: 60%;
  }


  #success {
    color: #3557f0;
    
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    font-size: 1em;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
    align-content: start;
  }
  
  .terms {
    font-size: 0.8em;
    color: #aaa;
  }
  
  button[type="submit"] {
    background-color: #3557f0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    align-items: center;
  }
  button[type="reset"] {
    background-color: #3557f0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  button[type="submit"]:hover {
    background-color: #103f69;
  }

  button[type="reset"]:hover {
    background-color: #103f69;
  }

  
  a {
    color: #3557f0;
    text-decoration: none;
  }
 
  
  a:hover {
    text-decoration: underline;
  }
  .login-box {
    text-size-adjust: 70%;
  }
  #forgot_p {
    padding-left: 25px;
  }

  .error{
    font-style: italic;
    color: red;
  }
  #error_h {
    font-size: 15em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flood-color: blue;
    background-image: url(../images/background2.jpg);
    background-size: cover;
    color: transparent;
    background-clip: text;
  }

  #error_p {
    font-size: x-large;
    align-self: center;
  }

  #error_d {
    margin: auto;
    width: 30%;
    padding: 10px;
  }

  #update_p {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  p.update_p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }

  #updatePassword {
    margin: auto;
    height: 5ex;
    font-size: larger;
    background-color: #3557f0;
    color: #ffffff;
    border-radius: 10px;
  }

  .container {
    width: 30%;
    height: fit-content;
    padding: 16px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  