<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css1_abu/style.css">
</head>
<body>
    <h1 id="error_h">Oops!</h1>
    <h1>404 - PAGE NOT FOUND</h1>
    <div id="error_d">
        <p id="error_p">The page you are looking for might have been removed had its name changed or its temporarily unavailable.</p>
    </div>    
</body>
</html>





 <!-- teacher section starts -->

    <!-- <section class="teacher" id="teacher">

        <h1 class="heading">our expert teacher</h1>

        <div class="box-containers">

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/vivek prakash.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Vivek Prakash PMP, MCP</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/dinesh kumar.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Dinesh Kumar Mishra</h3>
                    <span>profesior</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/pratik.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Dr. Pratik R. Sathe</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/hemjith.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Dr. Hemjith Balakrishnan</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir1.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">V. Ramachandran
                        Charted Accountant
                        </h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir2.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Dr. Sudheer Gopal Bhide</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir3.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Ajit Thatte</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir4.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Ajay Modak</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir5.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Dr. R.c Walke</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir6.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Amit k Ghosh</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir7.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Manoj Sarasappan</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir8.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Nadeem Khan</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir9.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Chandrasen Sharma</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir10.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Manoranjan Prusty</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir11.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Zafar Mukadam</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/sir12.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Pratik Gupta</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/maam1.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Subarna Rath</h3>
                    <span>instructor</span>
                </div>
            </div>

            <div class="boxs">
                <div class="image">
                    <img src="/static/images/maam2.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3 class="headings">Surekha V. Chaudhari</h3>
                    <span>instructor</span>
                </div>
            </div>

           
        </div>

    </section> -->