<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signed Up</title>
    <link rel="stylesheet" href="/static/css1_abu/style.css">
</head>
<body id="signedup">
    <img src="/static/images/success1.jpg" alt="Successfully Registered" id="signupImage"/>
    <h1 id="success">SUCCESS</h1><br/><br/>
    <div  class="center">

   
        <h1>Congratulations, your account has been successfully created.</h1>
        <button type="submit">Continue</button>
    </div>
</body>
</html>