<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Team</title>
    <link rel="stylesheet" href="#" />
    <style>
        .team-container {
  font-family: "Roboto", sans-serif;
  padding: 24px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.team-container h2 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 8px;
  background: #222;
  color: #eee;
  width: 500px;
  margin: 48px auto;
}

.team-container .ceo {
  text-align: center;
  padding: 8px;
}

.team-container .ceo img {
  width: 200px;
  height: 200px;
}

.team-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 8px 29px -17px rgba(0, 0, 0, 0.4);
}

.team-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px;
}

.team-container .team-member-name {
  font-weight: bold;
  font-size: 22px;
  margin: 12px 0;
}

.team-container .ceo .team-member-name {
  font-size: 28px;
}

.core-team-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-container h3 {
  text-align: center;
  margin: 48px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 24px;
  text-transform: uppercase;
  font-weight: normal;
}
    </style>

  </head>
  <body>
    <div class="team-container">
      <h2 class="team-heading">Our Team</h2>
      <div class="ceo">
        <div class="profile-pic">
          <img src="/static/images/teammember1.png" alt="" />
        </div>

        <div class="team-member-name"><a href="/templates/team_member/vilas_chadhari.html">Vilas Chaudhari</a></div>
        <div class="meta">CEO, 3SV Edumentors and Consultants, Navi Mumbai </div>
      </div>

      <h3>Our Core Team</h3>

      <div class="core-team-container">
        <div class="team-member">
          <div class="profile-pic">
            <img src="/static/images/teammember2.png" alt="" />
          </div>

          <div class="team-member-name"><a href="/templates/team_member/ramchandra.html"> V. Ramachandran</a></div>
          <div class="meta"> Charted Accountant</div>
        </div>

        <div class="team-member">
          <div class="profile-pic">
            <img src="/static/images/teammember3.png" alt="" />
          </div>

          <div class="team-member-name"><a href="/templates/team_member/sudhir.html"> Dr. Sudheer Gopal Bhide</a></div>
          <div class="meta"> Teaching, Industry and Consultancy</div>
        </div>
        <div class="team-member">
            <div class="profile-pic">
              <img src="/static/images/teammember4.png" alt="" />
            </div>
  
            <div class="team-member-name"><a href="/templates/team_member/Ajit_Thatte.html">Ajit Thatte</a></div>
            <div class="meta"> Teaching, Industry and Consultancy</div>
          </div>
          <div class="team-member">
            <div class="profile-pic">
              <img src="/static/images/teammember5.png" alt="" />
            </div>
  
            <div class="team-member-name"><a href="/templates/team_member/ajay_modak.html">Ajay Modak</a></div>
            <div class="meta"> Teaching, Industry and Consultancy</div>
          </div>
          <div class="team-member">
            <div class="profile-pic">
              <img src="/static/images/teammember6.png" alt="" />
            </div>
  
            <div class="team-member-name"><a href="/templates/team_member/rewalke.html">Dr. R. C. Walke</a></div>
            <div class="meta"> Teaching, Industry and Consultancy</div>
          </div>
          <div class="team-member">
            <div class="profile-pic">
              <img src="/static/images/teammember7.png" alt="" />
            </div>
  
            <div class="team-member-name"><a href="/templates/team_member/vivek_Prakash.html">Vivek Prakash PMP, MCP</a></div>
            <div class="meta">  Teaching, Industry and Consultancy
                </div>
          </div>
          <div class="team-member">
              <div class="profile-pic">
                <img src="/static/images/teammember8.png" alt="" />
              </div>
    
              <div class="team-member-name"><a href="/templates/team_member/amit_K_Ghosh.html">Amit K. Ghosh</a></div>
              <div class="meta"> Teaching, Industry and Consultancy</div>
            </div>
            <div class="team-member">
              <div class="profile-pic">
                <img src="/static/images/teammember9.png" alt="" />
              </div>
    
              <div class="team-member-name"><a href="/templates/team_member/manoj_Sarasappan.html">Manoj Sarasappan</a></div>
              <div class="meta"> Teaching, Industry and Consultancy</div>
            </div>
            <div class="team-member">
              <div class="profile-pic">
                <img src="/static/images/teammember10.png" alt="" />
              </div>
    
              <div class="team-member-name"><a href="/templates/team_member/dr_Hemjith_Balakrishnan.html">Dr. Hemjith Balakrishnan</a></div>
              <div class="meta"> Teaching, Industry and Consultancy</div>
              
            </div>
            <div class="team-member">
                <div class="profile-pic">
                  <img src="/static/images/teammember11.png" alt="" />
                </div>
      
                <div class="team-member-name"><a href="/templates/team_member/nadeem_Khan.html">Nadeem Khan</a></div>
                <div class="meta"> Teaching, Industry and Consultancy</div>
              </div>
              <div class="team-member">
                  <div class="profile-pic">
                    <img src="/static/images/teammember12.png" alt="" />
                  </div>
        
                  <div class="team-member-name"><a href="/templates/team_member/chandrasen_Sharma.html">Chandrasen Sharma</a></div>
                  <div class="meta"> Teaching, Industry and Consultancy</div>
                </div>
                <div class="team-member">
                  <div class="profile-pic">
                    <img src="/static/images/teammember13.png" alt="" />
                  </div>
        
                  <div class="team-member-name"><a href="/templates/team_member/manoranjan_Prusty.html">Manoranjan Prusty</a></div>
                  <div class="meta"> Teaching, Industry and Consultancy</div>
                </div>
                <div class="team-member">
                  <div class="profile-pic">
                    <img src="/static/images/teammember14.png" alt="" />
                  </div>
        
                  <div class="team-member-name"><a href="/templates/team_member/zafar_Mukadam.html">Zafar Mukadam</a></div>
                  <div class="meta"> Teaching, Industry and Consultancy</div>
                </div>
                <div class="team-member">
                  <div class="profile-pic">
                    <img src="/static/images/teammember15.png" alt="" />
                  </div>
        
                  <div class="team-member-name"><a href="/templates/team_member/dinesh _kumar_Mishra.html">Dinesh kumar mishra</a></div>
                  <div class="meta"> Teaching, Industry and Consultancy</div>
                </div>
                <div class="team-member">
                    <div class="profile-pic">
                      <img src="/static/images/teammember16.png" alt="" />
                    </div>
          
                    <div class="team-member-name"> <a href="/templates/team_member/dr_pratikRSathe.html">Dr Pratik R Sathe</a></div>
                    <div class="meta"> Teaching, Industry and Consultancy</div>
                  </div>
                  <div class="team-member">
                    <div class="profile-pic">
                      <img src="/static/images/teammember17.png" alt="" />
                    </div>
          
                    <div class="team-member-name"><a href="/templates/team_member/pratik_Gupta.html"> Pratik Gupta</a></div>
                    <div class="meta">Founder and CEO ALAX OPTO ENTERPRISES</div>
                  </div>
                  <div class="team-member">
                    <div class="profile-pic">
                      <img src="/static/images/teammember18.png" alt="" />
                    </div>
          
                    <div class="team-member-name"><a href="/templates/team_member/subarna_Rath.html"> Subarna Rath</a></div>
                    <div class="meta"> Teaching, Industry and Consultancy</div>
                    
                  </div>
        <div class="team-member">
          <div class="profile-pic">
            <img src="/static/images/teammember19.png" alt="" />
          </div>

          <div class="team-member-name"><a href="/templates/team_member/surekhaVChaudhari.html">Surekha V. Chaudhari</a></div>
          <div class="meta"> Teaching, Industry and Consultancy</div>
        </div>
      </div>
    </div>
  </body>
</html>