<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <link rel="stylesheet" href="/static/css1_abu/style.css">
</head>
<body>
    <div id="update_p">
        <form action="">
            <div id="">
                <h1>Update Password</h1>
                <p class="update_p">To change your password, please fill in the fields below.</p>
                <p class="update_p">Your password must contain atleast 8 characters, it must also include atleast one uppercase letter, one lowercase letter, one number and one special character.</p><br><br>
                <label for="currentPassword"><h3>Current Password</h3></label>
                <input 
                type="password" 
                id="currentPassword"                
                placeholder="Current Password"/>                
            </div>
            <div>
                <label for="newPassword"><h3>New Password</h3></label>
                <input 
                type="password"
                id="newPassword"
                placeholder="New Password"/>
            </div>
            <div>
                <label for="confirmPassword"><h3>Confirm Password</h3></label>
                <input 
                type="password"
                id="confirmPassword"
                placeholder="Confirm Password"/>
            </div>
            <input type="button" value="Update Password" id="updatePassword"/>
        </form>        
    </div>
</body>
</html>